

<div class="jumbotron">
    <h2>Welcome to Karen's Pin Page</h2>
    <div class="lead">This is my VERY first Website!</div>
    <%= link_to 'About Me', home_about_path, class:'btn btn-primary'%>
    <%= link_to 'Home', root_path, class:'btn btn-primary'%>
</div>
