

<div class="jumbotron">
    <h2>Welcome to my Pinterested App</h2>
    <div class="lead">This is my first RUBY ON RAILS App!  Hope you enjoy it!</div>
    <%=link_to 'Login', new_user_session_path, class:'btn btn-info' %>
    <%=link_to 'Join', new_user_registration_path, class:'btn btn-primary' %>
</div>

