
<div class="center">
<div class="jumbotron">
    <h2>About this App</h2>
    <div class="lead">This App gives you an opportunitely to post your favorite or photos and will share for public viewing.
    </div>
    <%= link_to 'Back', pins_path, class:'btn btn-primary' %>
</div>
</div>
